.login-container {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 100px;
}



button:disabled {
  background-color: #999;
}

.error {
  color: red;
  font-size: 0.85rem;
}


