<div class="container section2">
  <div class="row align-items-center justify-content-between text-center text-md-start">
    
    <!-- Left: Text -->
    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <div class="text">
        <h1>
          Take charge of your money <br>
          with our easy-to-use<br>
          expense tracker!
        </h1>
        <br>
        <h2>
          Manage your budget, analyze your spending,<br>
          and take control of your finances<br>
          all in one place.
        </h2>
      </div>
    </div>

    <!-- Right: Image -->
    <div class="col-12 col-md-5 d-flex justify-content-center justify-content-md-end">
      <div class="image">
        <img src="calculation.jpg" alt="Expense tracker" class="img-fluid rounded border border-light shadow-sm">
      </div>
    </div>
  </div>

  <!-- Login Button -->
  <div class="login mt-5">
    <div class="button" (click)="goToLogin()">
      <p><strong>Get Started</strong></p>
    </div>
  </div>
</div>
