<div class="dashboard-container" style="margin-left: 150px; margin-top: 30px;margin-right: 50px;">

<div>
  <mat-icon (click)="goToProfile()" style="cursor: pointer; margin-left: 10px; margin-right:10px; border:none;  float:right">account_circle</mat-icon>
</div>

  <div >
  <button mat-flat-button style="background-color:rgb(50, 187, 224); border:none;color:white; width:170px; float:right"  (click)="goToAddExpense()">➕ Add Expense</button>
  </div> 

  


  <h2 style="color:green">Welcome, {{ userName }}!</h2>

  

  <div class="overview">
    <h4>Total Expenses</h4>
    <p class="amount">₹{{ totalExpenses }}</p>
  </div>

  <div class="recent-expenses">
    <h4>Recent Expenses</h4>
  </div>

<!-- <table class="expense-table" >
  <tbody>
    <tr *ngFor="let expense of sortedExpenses">
      <td>{{ expense.date }}</td>
      <td>{{ expense.category }}</td>
      <td>₹{{ expense.amount }}</td>
      <td>{{ expense.description }}</td>
    </tr>
  </tbody>
</table> -->
<table>
  <th>Name</th>
  <th>Amount</th>
  <th>Category</th>
  <th>Date</th>
  <th>Action</th>

<tr *ngFor="let exp of sortedExpenses">
  <td>{{ exp.title }}</td>
  <td>{{ exp.amount }}</td>
  <td>{{ exp.category }}</td>
  <td>{{ exp.date | date }}</td>
  <td >
    <button mat-flat-button style="background-color:rgb(50, 187, 224); border:none; width:50px;"  (click)="editExpense(exp._id)">Edit</button>
    <button mat-flat-button style="background-color:rgba(77, 9, 72, 0.897); border:none; width:50px;" (click)="deleteExpense(exp._id)">Delete</button>
  </td>
</tr>
</table>


<div >
  <h4>Expense Summary</h4>
  <div style="display: flex; gap: 2rem;">
    <div style="width: 30%;">
      <canvas baseChart [data]="barChartData" chartType="bar"></canvas>
    </div>
    <!-- <div style="width: 400px;  height: 400px; margin: auto;">
      <canvas baseChart [data]="pieChartData" chartType="pie" [options]="pieChartOptions"></canvas>
    </div> -->
  </div>
</div>

</div>
